<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Are the lines of the car straight?</string>
	<string>Any Ripples in the paint?</string>
	<string>Gaps between panels all even?</string>
	<string>Any Dents? Dings?</string>
	<string>Do the doors open/close easily?</string>
	<string>VIN stickers match?</string>
	<string>Any rust or corrosion?</string>
	<string>Cracks in windshield/windows?</string>
	<string>Tire tread even?</string>
</array>
</plist>
