<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Answer to the first question</string>
	<string>If no, how many previous owners?</string>
	<string>Do you have any maintenance records?</string>
	<string>Do you have a history report?</string>
	<string></string>
	<string>Do you have documentation?</string>
	<string>at an independent mechanic</string>
	<string></string>
</array>
</plist>
