<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Any play in the steering wheel?</string>
	<string>Smooth accelleration?</string>
	<string>Does the engine slip at all?</string>
	<string>Does the car pull left/right?</string>
	<string>Are there any rattles or creaks?</string>
</array>
</plist>
